h1 {
    font-size: 90px;
    line-height: 140px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--title-color);
    text-align: left;
    letter-spacing: .03em;
    white-space: nowrap;
    font-family: "Title";

    .media( mobile-only, {
        font-size: 38px;
        line-height: 84px;
        margin-top: 24px;
    });
   
}

h3 {
    font-family: "Title";
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;

    .media( mobile-only, {
        line-height: 25px;
    });
  
}

#theme-switch {
    position: absolute;
    right: 64px;
    top: 64px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: var(--switch-color);
    border: none;
    cursor: pointer;

    .media( mobile-only, {
        top: 20px;
        right: 24px;
    });
  
}