section {
    h2 {
        color: var(--title-color);
        font-size: 35px;
        margin-bottom: 35px;
        font-weight: bold;
        margin-top: 32px;
        margin-bottom: 16px;

        .media( mobile-only, {
            font-size: 30px;
        });
    }
    li {
        color: var(--title-color);
    }
    &#whereyoucanfindme {
        a {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: var(--text-color);
            
            .media( mobile-only, {
                font-size: 20px;
                line-height: 33px;
            });

            .media( tablet-only, {
                font-size: 20px;
                line-height: 30px;
            });
          

        }
        p {
            margin-bottom: 12px;
        }
    }
}