@font-face {
    font-family: 'Title';
    src: url('public/title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fde9eb;
    min-height: 100vh;
    padding: 12px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    color:#23201f;
    font-family: 'Title';
    ul {
        margin-bottom: 12px;
        padding-left: 32px;
        li {
            font-size: 1vw;
            line-height: 1.3vw;
        }
    }
    a {
        color:#23201f;
        font-weight: bold;
    }
}